body { background-color: black; text-align: left; padding-top: 100px;
}

h1 {
    font-family: Arial; color: black; text-align: center;
}

div { text-align: center; color: black; 
}

#Wrap {background: lightgrey; width:750px; margin:auto; padding:50px; border-left: solid 6px yellow; border-right: solid 6px yellow;
border-top: solid 6px yellow; border-bottom: solid 6px yellow;  }

#Output {
    color: red;
}